:root{
  /* Light Theme Variables */
  --color-text-light: #333332;
  --color-background-light: #FAF4E5;
  --color-pink-light: #e5a1aa;
  --color-green-light: #7AD0AC;
  --color-blue-light: #8395CD;

  /* Dark Theme Variables */
  --color-text-dark: #FAF4E5;
  --color-background-dark: #8395CD;
}

body {
  background: rgb(10, 10, 10);
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

#cameraBtn {
  position: absolute;
  top: 50px;
  left: 50px;
}
