#elementsList-html {
    position: absolute;
    left: 50px;
    bottom: 50px;
    color: $gray-2;
  
    
    .elementsList{
        display: flex;

        &__element {
          


            &::before,
            &::after {
               
            }
            
            &::before {
                
            }

            &::after {
                
            }

            &:hover {

                &::before {
                }

                &::after {
                    
                }
            }
        }
    }

}