#elementsList-html {
    position: absolute;
    top: 50px;
    right: 50px;

    .elementsList {
        display: flex;
        align-items: flex-start;
        height: 10vh;
        backdrop-filter: blur(2px);


        &__element {
            flex:1;
            padding-top: 10px;
            cursor: pointer;

            &:not(:first-child){
               border-top: 1px solid $grey-3; 
            }
            

            span {
                display: block;
                transform: rotate(-45deg);
                transform-origin: right;
                text-align: end; 
            }
        }
    }
}