#mainTitle-html {
    position: absolute;
    font-family: $font-main-regular;
    top: 50px;
    left: 50px;
    color: $gray-4;

    .main-title {
        
        
        &__title {
            font-size: 100px;
        }

        &__weather-infos {
            font-size: 15px;

            span {
                position: relative;
                margin-right: 15px;
            }
        }
    }
    
}