/* ------------------------
            Fonts
------------------------- */

$font-main-extraBold:   'Steelfish Extra Bold';
$font-main-outline:     'Steelfish Outline';
$font-main-bold:        'Steelfish Bold';
$font-main-italic:      'Steelfish Italic';
$font-main-regular:     'Steelfish';

/* ------------------------
            Colors
------------------------- */

$black: #000000;
$white: #FFFFFF;



$darker: #0B0B0B;

$grey-theme: #939393;
$grey-theme-2: #8F8F90;
$grey-theme-3: #5F5F5F;

$gray-dark : #1f1f1f;

$gray-1:rgb(51, 51, 51);
$gray-2:#666666;
$gray-3:#989898;
$gray-4:#fbfbfb;

/* $dark-gradient: radial-gradient(circle, rgba(26,35,43,1) 1%, rgba(0,0,0,1) 100%);  *///https://cssgradient.io/
 /* $dark-gradient: radial-gradient(circle, rgb(3, 4, 62) .1%,rgb(5, 5, 23) 1%, rgba(0,0,0,1) 100%); *///https://cssgradient.io/
 $dark-gradient: radial-gradient(circle, rgb(22, 28, 33) 1%, rgb(13, 13, 13) 100%);
