/* ------------------------
            Fonts
------------------------- */

$font-main-extraBold:   'Steelfish Extra Bold';
$font-main-outline:     'Steelfish Outline';
$font-main-bold:        'Steelfish Bold';
$font-main-italic:      'Steelfish Italic';
$font-main-regular:     'Steelfish';

/* ------------------------
            Colors
------------------------- */

$black: #000000;
$white: #FFFFFF;

$blue: #1ADECA;

$darker: #121212;

$grey-9: #1F2933;
$grey-8: #323F4B;
$grey-7: #3E4C59;
$grey-6: #52606D;
$grey-5: #616E7C;
$grey-4: #7B8794;
$grey-3: #9AA5B1;
$grey-2: #CBD2D9;
$grey-1: #E4E7EB;

$dark-gradient: radial-gradient(circle, rgba(26,35,43,1) 1%, rgba(0,0,0,1) 100%); //https://cssgradient.io/