/* ------------------------
            Fonts
------------------------- */

$font-main-extraBold:   'Steelfish Extra Bold';
$font-main-outline:     'Steelfish Outline';
$font-main-bold:        'Steelfish Bold';
$font-main-italic:      'Steelfish Italic';
$font-main-regular:     'Steelfish';

/* ------------------------
            Colors
------------------------- */

$black:rgb(12, 12, 12);

$grey-1:rgb(28, 28, 28);
$grey-2: rgb(34, 34, 34);
$grey-3: rgb(62, 62, 64);
 
$white-1: rgb(255, 255, 255);
$white-1: rgb(211, 211, 211);