
@font-face {
  font-family: $font-main-extraBold;
  src: url('../../assets/fonts/steelfish.eb-regular.woff') format('woff');
}

@font-face {
  font-family: $font-main-outline;
  src: url('../../assets/fonts/steelfish.outline-regular.woff') format('woff');
}

@font-face {
  font-family: $font-main-bold;
  src: url('../../assets/fonts/steelfish.rg-bold.woff') format('woff');
}

@font-face {
  font-family: $font-main-italic;
  src: url('../../assets/fonts/steelfish.rg-italic.woff') format('woff');
}

@font-face {
  font-family: $font-main-regular;
  src: url('../../assets/fonts/steelfish.rg-regular.woff') format('woff');
}
